/* custom properties */
:root {
  /* colors */
  --dark-bg-color: #1f2937; /*hero & footer */
  --main-text-color: #f9faf8; /*h1 & h3*/
  --btn-color: #3881f6; /*bg btn*/
  --light-gray: #e5e7eb; /*links, btn txt, hero p & bg quote sect */
  --dark-blue: #1f2937; /* h2 & quote text */
  /* fonts */
  --main-font: "Roboto";
  /* text sizes */
  --h1-text-size: 48px; /*h1*/
  --h2-text-size: 36px; /* h2 & quote txt */
  --h3-text-size: 24px; /* h3 */
  --text-size: 18px; /* * */
}
/* generals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--text-size);
  line-height: 1.5rem;
}

.container {
  padding: 1rem 15%;
}

h1 {
  font-size: var(--h1-text-size);
  color: var(--main-text-color);
  line-height: 3rem;
}

h2 {
  font-size: var(--h2-text-size);
  color: var(--dark-blue);
  text-align: center;
}

h3 {
  font-size: var(--h3-text-size);
  color: var(--main-text-color);
}

img {
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: var(--light-gray);
}

li {
  list-style: none;
}

button {
  background-color: var(--btn-color);
  color: var(--light-gray);
  padding: 0.3rem 1.3rem;
  border-radius: 5px;
}
/* hero */
.hero {
  background: var(--dark-bg-color);
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

ul {
  display: flex;
  gap: 1rem;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header-content img {
  flex: 1 1 75%;
}

.header-intro {
  padding: 1rem 0;
}

.header-intro p {
  padding: 1rem 0;
  color: var(--light-gray);
}

.header-intro button {
  border-style: none;
}

/* info */
.info {
  padding-top: 1.5rem;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.card {
  flex: 1 1 200px;
  text-align: center;
  color: var(--dark-blue);
}

.card img {
  width: 100%;
}
/* quote */
.quote {
  background: var(--light-gray);
  color: var(--dark-blue);
  font-size: var(--h2-text-size);
  font-weight: lighter;
  font-style: italic;
  line-height: 2rem;
}

blockquote {
  padding: 1rem 0;
}

blockquote footer {
  font-size: var(--text-size);
  font-weight: bold;
  text-align: right;
  font-style: normal;
  padding-top: 0.5rem;
}
/* action */
.action {
  background: var(--btn-color);
  margin: 3rem 15%;
  padding: 1rem 2rem;
  border-radius: 5px;
  display: flex;
  gap: 1.5rem;
  justify-content: space-around;
  align-items: center;
}

.action p {
  color: var(--light-gray);
  padding: 0.3rem 0;
}

.action button {
  flex-shrink: 0;
  border-color: var(--light-gray);
}

/* footer */
.footer {
  background-color: var(--dark-blue);
  color: var(--light-gray);
  padding: 1rem;
  text-align: center;
}
